@using MF0966_3.Models
@model Curso

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroHoras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroHoras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

    </dl>
    <h4>Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Fecha de Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            Alumno alumno;
        }
        @foreach (Imparticion imparticion in Model.Imparticiones)
        {
            alumno = imparticion.Alumno;
            <tr>
                <td>@alumno.Nombre</td>
                <td>@alumno.Apellidos</td>
                <td>@alumno.Email</td>
                <td>@alumno.FechaNacimiento.Value.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>