@model IEnumerable<MF0966_3.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("terminoBusqueda")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Curso", "Index", new { orden = ViewBag.OrdenCurso })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.ActionLink("Cliente", "Index", new { orden = ViewBag.OrdenCliente })
        </th>
        <th>
            @Html.ActionLink("Profesor", "Index", new { orden = ViewBag.OrdenProfesor })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Nombre)
            </td>
            <td>
                @Html.ActionLink("Seleccionar", "Index", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@if (ViewBag.Alumnos != null)
{
    <h2>Alumnos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Fecha de Nacimiento
                </th>
                <th>
                    Código Postal
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Email
                </th>
                <th>
                    DNI
                </th>
                <th>
                    Número de Hermanos
                </th>
                <th>
                    Activo
                </th>
                <th>
                   
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Alumnos)
            {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Apellidos
                </td>
                <td>
                    @item.FechaNacimiento.ToShortDateString()
                </td>
                <td>
                    @item.CodigoPostal
                </td>
                <td>
                    @item.Telefono
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Dni
                </td>
                <td>
                    @item.NumeroHermanos
                </td>
                <td>
                    @(item.Activo?"Sí":"No")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Alumnos", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Alumnos", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Alumnos", new { id = item.Id }, null)
                </td>
            </tr>
            }
        </tbody>

    </table>
}