@model MF0966_3.Models.Imparticion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Imparticion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaMatriculacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMatriculacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
